@font-face {
    font-family: 'kingthings_exeterregular';
    src: url('Kingthings_Exeter-webfont.woff2') format('woff2'),
         url('Kingthings_Exeter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

